In [1]:
import nltk
import random
from nltk.corpus import movie_reviews
documentsp=[]
documentsn=[]
y=[]
c=cx=0
for category in movie_reviews.categories():
    for fileid in movie_reviews.fileids(category):
        if category=='pos':
            documentsp.append(movie_reviews.words(fileid))
            y.append(0)
            c+=1
        elif category=='neg':
            documentsn.append(movie_reviews.words(fileid))
            y.append(1)
            cx+=1

In [2]:
#documentsp[5]

In [3]:
#nltk.corpus.movie_reviews.words('neg/cv990_12443.txt')

In [4]:
#movie_reviews.categories()

In [5]:
#rev=nltk.corpus.movie_reviews.words('pos/cv000_29590.txt')
rev_list=[]
for rev in documentsp:
    #rev_text_msg=rev=nltk.corpus.movie_reviews.words(rev)
    review_one_string=" ".join(rev)
    review_one_string=review_one_string.replace(',',',')
    review_one_string=review_one_string.replace('.','.')
    review_one_string=review_one_string.replace("\' ","'")
    review_one_string=review_one_string.replace(" \'","'")
    rev_list.append(review_one_string)

In [6]:
for rev in documentsn:
    #rev_text_msg=rev=nltk.corpus.movie_reviews.words(rev)
    review_one_string=" ".join(rev)
    review_one_string=review_one_string.replace(',',',')
    review_one_string=review_one_string.replace('.','.')
    review_one_string=review_one_string.replace("\' ","'")
    review_one_string=review_one_string.replace(" \'","'")
    rev_list.append(review_one_string)

In [7]:
import pandas as pd
Y=pd.Series(y)

In [8]:
type(Y)

pandas.core.series.Series

In [9]:
Y.head()

0    1
1    1
2    1
3    1
4    1
dtype: int64

In [10]:
from sklearn.feature_extraction.text import CountVectorizer

In [11]:
count_vect=CountVectorizer(lowercase=True,stop_words='english',min_df=2)

In [12]:
X_count_vect=count_vect.fit_transform(rev_list)
X_names=count_vect.get_feature_names()

In [13]:
X_count_vect.shape

(2000, 23784)

In [14]:
from sklearn.feature_extraction.text import TfidfTransformer
tfidf=TfidfTransformer(norm="l2")
tfidf.fit(X_count_vect)
X=tfidf.transform(X_count_vect)

In [15]:
XD=pd.DataFrame(X.toarray(),columns=X_names)

In [16]:
XD.head()

,00,000,007,05,10,100,1000,100m,101,102,...,zoom,zooming,zooms,zoot,zorg,zorro,zucker,zuko,zwick,zwigoff
0,0.06609,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.067306,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.00000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.00000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.00000,0.024919,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.00000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [17]:
from sklearn import metrics
from sklearn.metrics import confusion_matrix

In [18]:
from sklearn.naive_bayes import GaussianNB

In [19]:
from sklearn.naive_bayes import MultinomialNB

In [20]:
mnb=MultinomialNB()

In [21]:
mnb.fit(XD,Y)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [22]:
#result=mnb.predict([["hii this is deloitte"],])

In [23]:
from sklearn import svm

In [24]:
clf=svm.LinearSVC(loss='hinge')
clf.fit(XD,Y)

LinearSVC(C=1.0, class_weight=None, dual=True, fit_intercept=True,
     intercept_scaling=1, loss='hinge', max_iter=1000, multi_class='ovr',
     penalty='l2', random_state=None, tol=0.0001, verbose=0)

In [25]:
from sklearn.feature_extraction.text import TfidfVectorizer
test=["my name is deloite"]
tvect = TfidfVectorizer()
tvect.fit_transform(XD,Y)
test=tvect.transform(test)
clf.predict(test)

array([0])

In [26]:
s=""
#s=" ".join(documentsp[5])
#a=len(s)
s=s+" ".join(documentsn[5])
b=len(s)

In [27]:
test=[s]
test=tvect.transform(test)
clf.predict(test)

array([0])

In [28]:
test=["bad bad good person"]
test=tvect.transform(test)
res=clf.predict(test)

In [29]:
if res==1:
    print("positive review")
else:
    print("negative review")

negative review